#searchbar{
    margin-right: 15%;
    padding:15px;
    border-radius: 10px;
  }


  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }


  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 70%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa {
    padding: 60px;
    font-size: 90px;
    width: 150px;
    text-align: center;
    text-decoration: none;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }